code {
  @apply rounded-lg !important
}

.table-responsive {
  position: static !important;
  }

.table-responsive{
  overflow-y: visible !important;
}

textarea {
  @apply resize-none;
}

.primary-button {
  @apply rounded bg-blue-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600;
}


/* textarea {
  background: #1c1c1c !important;
  color: #FFFFFF !important;
} */
