node_modules

.DS_Store
.DS_STORE
.cache
temp
.temp
.env
*.local
.env.production
updates
tests/unit/coverage
dist*
!.gitkeep
database/stacks.sqlite
custom-cli
*bun-build

.fleet
.idea
.stacks
.vscode
.zed
./test.ts
