node_modules
.DS_Store
.DS_STORE
.cache
.temp
.pnpm-debug.log
.env
*.local
.env.production
updates
tests/unit/coverage
dist*
storage/logs/*
storage/certs/components/*

# todo: ensure Buddy auto-removes these ignored files for the developer and these files
# in which case, they should be version-controlled
.fleet
.idea
.vscode
