node_modules
.DS_Store
.DS_STORE
.cache
.temp
.pnpm-debug.log
.stacks/core/server/.nitro
.stacks/core/server/.output
.stacks/components/vue/.vite-inspect/*
.stacks/components/vue/dist/*
.stacks/components/web/dist/*
.stacks/docs/dist/*
.stacks/functions/dist/*
!.stacks/dist/*
