node_modules
.DS_Store
.DS_STORE
.cache
.temp
.pnpm-debug.log
.stacks/.nitro
.stacks/.output
.stacks/vue-components/.vite-inspect/*
.stacks/vue-components/dist/*
.stacks/web-components/dist/*
.stacks/docs/dist/*
.stacks/functions/dist/*
!.stacks/dist/*
