.nitro
.output
certs/components/*
**/dist/*.cjs
**/dist/*.mjs
**/dist/**/*.mjs
**/dist/*.css
**/dist/*.d.ts
**/dist/**/*.d.ts
**/dist/**/*.d.cts
**/dist/**/*.d.mts
node_modules/
**/node_modules
/test-results/
/playwright-report/
/playwright/.cache/

cdk.out
*.tsbuildinfo
