html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

:root {
  --font-sans: "Inter", --apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --app-bg: var(--gray1);
  --app-text: #000000;
  --command-shadow: 0 16px 70px rgb(0 0 0 / 20%);
  --lowContrast: #ffffff;
  --highContrast: #000000;
  --vcp-c-brand: #44bd87;
  --vcp-c-accent: #35495e;
  --gray1: hsl(0, 0%, 98%);
  --gray2: hsl(0, 0%, 97.3%);
  --gray3: hsl(0, 0%, 95.1%);
  --gray4: hsl(0, 0%, 93%);
  --gray5: hsl(0, 0%, 90.9%);
  --gray6: hsl(0, 0%, 88.7%);
  --gray7: hsl(0, 0%, 85.8%);
  --gray8: hsl(0, 0%, 78%);
  --gray9: hsl(0, 0%, 56.1%);
  --gray10: hsl(0, 0%, 52.3%);
  --gray11: hsl(0, 0%, 43.5%);
  --gray12: hsl(0, 0%, 9%);
  --grayA1: hsla(0, 0%, 0%, 0.012);
  --grayA2: hsla(0, 0%, 0%, 0.027);
  --grayA3: hsla(0, 0%, 0%, 0.047);
  --grayA4: hsla(0, 0%, 0%, 0.071);
  --grayA5: hsla(0, 0%, 0%, 0.09);
  --grayA6: hsla(0, 0%, 0%, 0.114);
  --grayA7: hsla(0, 0%, 0%, 0.141);
  --grayA8: hsla(0, 0%, 0%, 0.22);
  --grayA9: hsla(0, 0%, 0%, 0.439);
  --grayA10: hsla(0, 0%, 0%, 0.478);
  --grayA11: hsla(0, 0%, 0%, 0.565);
  --grayA12: hsla(0, 0%, 0%, 0.91);
  --blue1: hsl(206, 100%, 99.2%);
  --blue2: hsl(210, 100%, 98%);
  --blue3: hsl(209, 100%, 96.5%);
  --blue4: hsl(210, 98.8%, 94%);
  --blue5: hsl(209, 95%, 90.1%);
  --blue6: hsl(209, 81.2%, 84.5%);
  --blue7: hsl(208, 77.5%, 76.9%);
  --blue8: hsl(206, 81.9%, 65.3%);
  --blue9: hsl(206, 100%, 50%);
  --blue10: hsl(208, 100%, 47.3%);
  --blue11: hsl(211, 100%, 43.2%);
  --blue12: hsl(211, 100%, 15%);
}

.dark {
  --app-bg: var(--gray1);
  --app-text: #ffffff;
  --lowContrast: #000000;
  --highContrast: #ffffff;
  --gray1: hsl(0, 0%, 8.5%);
  --gray2: hsl(0, 0%, 11%);
  --gray3: hsl(0, 0%, 13.6%);
  --gray4: hsl(0, 0%, 15.8%);
  --gray5: hsl(0, 0%, 17.9%);
  --gray6: hsl(0, 0%, 20.5%);
  --gray7: hsl(0, 0%, 24.3%);
  --gray8: hsl(0, 0%, 31.2%);
  --gray9: hsl(0, 0%, 43.9%);
  --gray10: hsl(0, 0%, 49.4%);
  --gray11: hsl(0, 0%, 62.8%);
  --gray12: hsl(0, 0%, 93%);
  --grayA1: hsla(0, 0%, 100%, 0);
  --grayA2: hsla(0, 0%, 100%, 0.026);
  --grayA3: hsla(0, 0%, 100%, 0.056);
  --grayA4: hsla(0, 0%, 100%, 0.077);
  --grayA5: hsla(0, 0%, 100%, 0.103);
  --grayA6: hsla(0, 0%, 100%, 0.129);
  --grayA7: hsla(0, 0%, 100%, 0.172);
  --grayA8: hsla(0, 0%, 100%, 0.249);
  --grayA9: hsla(0, 0%, 100%, 0.386);
  --grayA10: hsla(0, 0%, 100%, 0.446);
  --grayA11: hsla(0, 0%, 100%, 0.592);
  --grayA12: hsla(0, 0%, 100%, 0.923);
  --blue1: hsl(212, 35%, 9.2%);
  --blue2: hsl(216, 50%, 11.8%);
  --blue3: hsl(214, 59.4%, 15.3%);
  --blue4: hsl(214, 65.8%, 17.9%);
  --blue5: hsl(213, 71.2%, 20.2%);
  --blue6: hsl(212, 77.4%, 23.1%);
  --blue7: hsl(211, 85.1%, 27.4%);
  --blue8: hsl(211, 89.7%, 34.1%);
  --blue9: hsl(206, 100%, 50%);
  --blue10: hsl(209, 100%, 60.6%);
  --blue11: hsl(210, 100%, 66.1%);
  --blue12: hsl(206, 98%, 95.8%);
}

body {
  background: var(--app-bg);
}

div [command-dialog-mask] {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 200;
  animation: 333ms cubic-bezier(0.16, 1, 0.3, 1) 0s 1 normal none running shown;
}

div [command-dialog-wrapper] {
  position: relative;
  background: var(--gray2);
  border-radius: 6px;
  box-shadow: none;
  flex-direction: column;
  margin: 20vh auto auto;
  max-width: 560px;
  animation: 333ms cubic-bezier(0.16, 1, 0.3, 1) 0s 1 normal none running shown;
}

div [command-dialog-footer] {
  border-top: 1px solid var(--gray6);
  align-items: center;
  background: var(--gray4);
  color: var(--gray11);
  border-radius: 0 0 8px 8px;
  box-shadow: none;
  display: flex;
  flex-direction: row-reverse;
  flex-shrink: 0;
  height: 44px;
  justify-content: space-between;
  padding: 0 12px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  z-index: 300;
  font-size: 12px;
}

code.hljs {
  border-radius: 16px;
  color: #24292e;
  background: #ffffff;
}

/*
  @import 'algolia.scss';
*/

.algolia [command-root] {
  padding: 8px;
}
.algolia [command-input] {
  font-family: var(--font-sans);
  width: 100%;
  font-size: 18px;
  padding: 12px;
  outline: none;
  background: var(--bg);
  color: var(--gray12);
  border-bottom: 1px solid var(--gray6);
  border-radius: 4px;
  caret-color: var(--vcp-c-brand);
  margin: 0;
  border: 1px solid var(--vcp-c-brand);
}
.algolia [command-input]::-moz-placeholder {
  color: var(--gray9);
}
.algolia [command-input]::placeholder {
  color: var(--gray9);
}
.algolia [command-list] {
  height: var(--command-list-height);
  max-height: 360px;
  overflow: auto;
  overscroll-behavior: contain;
  transition: 100ms ease;
  transition-property: height;
}
.algolia [command-item] {
  position: relative;
  content-visibility: auto;
  cursor: pointer;
  height: 56px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0px 16px;
  color: var(--gray12);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  will-change: background, color;
  transition: all 150ms ease;
  transition-property: none;
  border-radius: 4px;
  margin-top: 4px;
}
.algolia [command-item]:first-child {
  margin-top: 0px;
}
.algolia [command-item][aria-selected=true], .algolia [command-item]:hover {
  background: var(--vcp-c-brand);
  color: #fff;
}
.algolia [command-item][aria-selected=true] svg, .algolia [command-item]:hover svg {
  color: #fff;
}
.algolia [command-item][aria-selected=true] [command-linear-shortcuts], .algolia [command-item]:hover [command-linear-shortcuts] {
  display: flex;
  margin-left: auto;
  gap: 8px;
}
.algolia [command-item][aria-selected=true] [command-linear-shortcuts] kbd, .algolia [command-item]:hover [command-linear-shortcuts] kbd {
  font-family: var(--font-sans);
  font-size: 13px;
  color: var(--gray11);
}
.algolia [command-item][aria-disabled=true] {
  color: var(--gray8);
  cursor: not-allowed;
}
.algolia [command-item]:active {
  transition-property: background;
  background: var(--gray4);
}
.algolia [command-item] svg {
  width: 16px;
  height: 16px;
  color: var(--gray10);
}
.algolia [command-empty=""] {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  white-space: pre-wrap;
  color: var(--gray11);
}
.algolia [command-dialog-mask] {
  background-color: rgba(75, 75, 75, 0.8);
}
.algolia [command-dialog-header] {
  padding: 12px;
}
.algolia [command-dialog-body] {
  padding: 0 12px 12px;
}
.algolia [command-dialog-footer] {
  align-items: center;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 -1px 0 0 #e0e3e8, 0 -3px 6px 0 rgba(69, 98, 155, 0.12);
  display: flex;
  flex-direction: row-reverse;
  flex-shrink: 0;
  height: 44px;
  justify-content: space-between;
  padding: 0 12px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  z-index: 300;
}
.algolia [command-group-heading] {
  color: var(--vcp-c-brand);
  font-size: 0.85em;
  font-weight: 600;
  line-height: 32px;
  margin: 0 -4px;
  padding: 8px 4px 0;
  top: 0;
  z-index: 10;
  width: 100%;
}
.algolia .command-palette-commands {
  color: var(--docsearch-muted-color);
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.algolia .command-palette-commands li {
  display: flex;
  align-items: center;
}
.algolia .command-palette-commands li:not(:last-of-type) {
  margin-right: 0.8em;
}
.algolia .command-palette-logo a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.algolia .command-palette-logo svg {
  height: 24px;
  width: 24px;
}
.algolia .command-palette-commands-key {
  align-items: center;
  background: var(--gray3);
  border-radius: 2px;
  display: flex;
  height: 18px;
  justify-content: center;
  margin-right: 0.4em;
  padding: 0 0 1px;
  color: var(--gray11);
  border: 0;
  width: 20px;
}

.dark .algolia [command-dialog-footer] {
  box-shadow: none;
}

.command-dialog-enter-active,
.command-dialog-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.command-dialog-enter-from,
.command-dialog-leave-to {
  opacity: 0;
}

.command-dialog-enter-active {
  transition-duration: 0.5s;
}

.command-dialog-enter-active [command-dialog-wrapper] {
  transition-delay: 0.2s;
}

.command-dialog-enter-from [command-dialog-wrapper],
.command-dialog-leave-to [command-dialog-wrapper] {
  opacity: 0;
  transform: translateY(10px) scale(0.95);
}

.command-dialog-enter-active [command-dialog-wrapper] {
  transition: transform ease-out 0.3s;
}

.command-dialog-enter-to [command-dialog-wrapper],
.command-dialog-leave-from [command-dialog-wrapper] {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.command-dialog-leave-active [command-dialog-wrapper] {
  transition: transfrom ease-in 0.2s;
}

/*
@import 'raycast.scss';
*/


.raycast [command-dialog-wrapper] {
  max-width: 640px;
  width: 100%;
  background: var(--gray1);
  border-radius: 12px;
  padding: 8px 0;
  font-family: var(--font-sans);
  box-shadow: var(--command-shadow);
  border: 1px solid var(--gray6);
  position: relative;
}
.dark .raycast [command-dialog-wrapper] {
  background: var(--gray2);
  border: 0;
}
.dark .raycast [command-dialog-wrapper]:after {
  content: "";
  background: linear-gradient(to right, var(--gray6) 20%, var(--gray6) 40%, var(--gray10) 50%, var(--gray10) 55%, var(--gray6) 70%, var(--gray6) 100%);
  z-index: -1;
  position: absolute;
  border-radius: 12px;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  animation: shine 3s ease forwards 0.1s;
  background-size: 200% auto;
}
.dark .raycast [command-dialog-wrapper]:before {
  content: "";
  z-index: -1;
  position: absolute;
  border-radius: 12px;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  box-shadow: 0 0 0 1px transparent;
  animation: border 1s linear forwards 0.5s;
}
.raycast [command-dialog-wrapper] kbd {
  font-family: var(--font-sans);
  background: var(--gray3);
  color: var(--gray11);
  height: 20px;
  width: 20px;
  border-radius: 4px;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.raycast [command-dialog-wrapper] kbd:first-of-type {
  margin-left: 8px;
}
.raycast [command-input] {
  font-family: var(--font-sans);
  border: none;
  width: 100%;
  font-size: 15px;
  padding: 8px 16px;
  outline: none;
  background: var(--bg);
  color: var(--gray12);
}
.raycast [command-input]::-moz-placeholder {
  color: var(--gray9);
}
.raycast [command-input]::placeholder {
  color: var(--gray9);
}
.dark .raycast [command-raycast-top-shine] {
  background: linear-gradient(90deg, rgba(56, 189, 248, 0), var(--gray5) 20%, var(--gray9) 67.19%, rgba(236, 72, 153, 0));
  height: 1px;
  position: absolute;
  top: -1px;
  width: 100%;
  z-index: -1;
  opacity: 0;
  animation: showTopShine 0.1s ease forwards 0.2s;
}
.raycast [command-raycast-loader] {
  --loader-color: var(--gray9);
  border: 0;
  width: 100%;
  width: 100%;
  left: 0;
  height: 1px;
  background: var(--gray6);
  position: relative;
  overflow: visible;
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
}
.raycast [command-raycast-loader]:after {
  content: "";
  width: 50%;
  height: 1px;
  position: absolute;
  background: linear-gradient(90deg, transparent 0%, var(--loader-color) 50%, transparent 100%);
  top: -1px;
  opacity: 0;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-name: loading;
}
.raycast [command-item] {
  content-visibility: auto;
  cursor: pointer;
  height: 40px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  color: var(--gray12);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  will-change: background, color;
  transition: all 150ms ease;
  transition-property: none;
}
.raycast [command-item][aria-selected=true] {
  background: var(--gray4);
  color: var(--gray12);
}
.raycast [command-item][aria-disabled=true] {
  color: var(--gray8);
  cursor: not-allowed;
}
.raycast [command-item]:active {
  transition-property: background;
  background: var(--gray4);
}
.raycast [command-item]:first-child {
  margin-top: 8px;
}
.raycast [command-item] + [command-item] {
  margin-top: 4px;
}
.raycast [command-item] svg {
  width: 18px;
  height: 18px;
}
.raycast [command-raycast-meta] {
  margin-left: auto;
  color: var(--gray11);
  font-size: 13px;
}
.raycast [command-list] {
  padding: 0 8px;
  height: var(--cmd-list-height);
  overflow: auto;
  overscroll-behavior: contain;
  scroll-padding-block-end: 48px;
  transition: 100ms ease;
  transition-property: height;
  padding-bottom: 40px;
}
.raycast [command-raycast-open-trigger],
.raycast [command-raycast-subcommand-trigger] {
  color: var(--gray11);
  background: var(--grayA5);
  padding: 0px 4px 0px 8px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  height: 28px;
  letter-spacing: -0.25px;
}
.raycast [command-raycast-clipboard-icon],
.raycast [command-raycast-hammer-icon] {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.raycast [command-raycast-clipboard-icon] svg,
.raycast [command-raycast-hammer-icon] svg {
  width: 14px;
  height: 14px;
}
.raycast [command-raycast-clipboard-icon] {
  background: linear-gradient(to bottom, #f55354, #eb4646);
}
.raycast [command-raycast-hammer-icon] {
  background: linear-gradient(to bottom, #6cb9a3, #2c6459);
}
.raycast [command-raycast-open-trigger] {
  display: flex;
  align-items: center;
  color: var(--gray12);
}
.raycast [command-raycast-subcommand-trigger] {
  display: flex;
  align-items: center;
  gap: 4px;
  right: 8px;
  bottom: 8px;
}
.raycast [command-raycast-subcommand-trigger] svg {
  width: 14px;
  height: 14px;
}
.raycast [command-raycast-subcommand-trigger] hr {
  height: 100%;
  background: var(--gray6);
  border: 0;
  width: 1px;
}
.raycast [command-raycast-subcommand-trigger][aria-expanded=true], .raycast [command-raycast-subcommand-trigger]:hover {
  background: var(--gray4);
}
.raycast [command-raycast-subcommand-trigger][aria-expanded=true] kbd, .raycast [command-raycast-subcommand-trigger]:hover kbd {
  background: var(--gray7);
}
.raycast [command-separator] {
  height: 1px;
  width: 100%;
  background: var(--gray5);
  margin: 4px 0;
}
.raycast * + [command-group] {
  margin-top: 8px;
}
.raycast [command-group-heading] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 12px;
  color: var(--gray11);
  padding: 0 8px;
  display: flex;
  align-items: center;
}
.raycast [command-dialog-footer] {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  width: 100%;
  position: absolute;
  background: var(--gray1);
  bottom: 0;
  padding: 8px;
  border-top: 1px solid var(--gray6);
  border-radius: 0 0 12px 12px;
}
.raycast [command-dialog-footer] svg {
  width: 20px;
  height: 20px;
  filter: grayscale(1);
  margin-right: auto;
}
.raycast [command-dialog-footer] hr {
  height: 12px;
  width: 1px;
  border: 0;
  background: var(--gray6);
  margin: 0 4px 0px 12px;
}
@media (prefers-color-scheme: dark) {
  .raycast [command-dialog-footer] {
    background: var(--gray2);
  }
}
.raycast [command-popover] {
  z-index: var(--layer-portal);
  position: fixed;
  left: 50%;
  top: var(--page-top);
  transform: translateX(-50%);
}
.raycast [command-popover] [command] {
  width: 640px;
  transform-origin: center center;
  animation: dialogIn var(--transition-fast) forwards;
}
.raycast [command-popover][data-state=closed] [command] {
  animation: dialogOut var(--transition-fast) forwards;
}
.raycast [command-empty] {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  white-space: pre-wrap;
  color: var(--gray11);
}

@keyframes loading {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateX(100%);
  }
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
    opacity: 0;
  }
}
@keyframes border {
  to {
    box-shadow: 0 0 0 1px var(--gray6);
  }
}
@keyframes showTopShine {
  to {
    opacity: 1;
  }
}
.raycast-submenu {
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transform-origin: var(--radix-popover-content-transform-origin);
}
.raycast-submenu [command-root] {
  display: flex;
  flex-direction: column;
  width: 320px;
  border: 1px solid var(--gray6);
  background: var(--gray2);
  border-radius: 8px;
}
.raycast-submenu [command-list] {
  padding: 8px;
  overflow: auto;
  overscroll-behavior: contain;
  transition: 100ms ease;
  transition-property: height;
}
.raycast-submenu [command-item] {
  height: 40px;
  cursor: pointer;
  height: 40px;
  border-radius: 8px;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  color: var(--gray12);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  will-change: background, color;
  transition: all 150ms ease;
  transition-property: none;
}
.raycast-submenu [command-item][aria-selected=true] {
  background: var(--gray5);
  color: var(--gray12);
}
.raycast-submenu [command-item][aria-selected=true] [command-raycast-submenu-shortcuts] kbd {
  background: var(--gray7);
}
.raycast-submenu [command-item][aria-disabled=true] {
  color: var(--gray8);
  cursor: not-allowed;
}
.raycast-submenu [command-item] svg {
  width: 16px;
  height: 16px;
}
.raycast-submenu [command-item] [command-raycast-submenu-shortcuts] {
  display: flex;
  margin-left: auto;
  gap: 2px;
}
.raycast-submenu [command-item] [command-raycast-submenu-shortcuts] kbd {
  font-family: var(--font-sans);
  background: var(--gray5);
  color: var(--gray11);
  height: 20px;
  width: 20px;
  border-radius: 4px;
  padding: 0 4px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.raycast-submenu [command-item] [command-raycast-submenu-shortcuts] kbd:first-of-type {
  margin-left: 8px;
}
.raycast-submenu [command-group-heading] {
  text-transform: capitalize;
  font-size: 12px;
  color: var(--gray11);
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 4px;
}
.raycast-submenu [command-input] {
  padding: 12px;
  font-family: var(--font-sans);
  border: 0;
  border-top: 1px solid var(--gray6);
  font-size: 13px;
  background: transparent;
  margin-top: auto;
  width: 100%;
  outline: 0;
  border-radius: 0;
}
.raycast-submenu[data-state=open] {
  animation-name: slideIn;
}
.raycast-submenu[data-state=closed] {
  animation-name: slideOut;
}
.raycast-submenu [command-empty] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  white-space: pre-wrap;
  font-size: 14px;
  color: var(--gray11);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: scale(0.96);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.96);
  }
}
@media (max-width: 640px) {
  .raycast [command-input] {
    font-size: 16px;
  }
}

/*
@import 'vercel.scss';
*/

.vercel [command-root] {
  max-width: 640px;
  width: 100%;
  padding: 8px;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  font-family: var(--font-sans);
  border: 1px solid var(--gray6);
  box-shadow: var(--command-shadow);
  transition: transform 100ms ease;
}
.dark .vercel [command-root] {
  background: rgba(22, 22, 22, 0.7);
}
.vercel [command-input] {
  font-family: var(--font-sans);
  border: none;
  width: 100%;
  font-size: 17px;
  padding: 8px 8px 16px 8px;
  outline: none;
  background: var(--bg);
  color: var(--gray12);
  border-bottom: 1px solid var(--gray6);
  margin-bottom: 16px;
  border-radius: 0;
}
.vercel [command-input]::-moz-placeholder {
  color: var(--gray9);
}
.vercel [command-input]::placeholder {
  color: var(--gray9);
}
.vercel [command-vercel-badge] {
  height: 20px;
  background: var(--grayA3);
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  font-size: 12px;
  color: var(--grayA11);
  border-radius: 4px;
  margin: 4px 0 4px 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-transform: capitalize;
  font-weight: 500;
}
.vercel [command-item] {
  content-visibility: auto;
  cursor: pointer;
  height: 48px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  color: var(--gray11);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  will-change: background, color;
  transition: all 150ms ease;
  transition-property: none;
}
.vercel [command-item][aria-selected=true] {
  background: var(--grayA3);
  color: var(--gray12);
}
.vercel [command-item][aria-disabled=true] {
  color: var(--gray8);
  cursor: not-allowed;
}
.vercel [command-item]:active {
  transition-property: background;
  background: var(--gray4);
}
.vercel [command-item] + [command-item] {
  margin-top: 4px;
}
.vercel [command-item] svg {
  width: 18px;
  height: 18px;
}
.vercel [command-list] {
  height: min(330px, (var(--command-list-height)));
  max-height: 400px;
  overflow: auto;
  overscroll-behavior: contain;
  transition: 100ms ease;
  transition-property: height;
}
.vercel [command-vercel-shortcuts] {
  display: flex;
  margin-left: auto;
  gap: 8px;
}
.vercel [command-vercel-shortcuts] kbd {
  font-family: var(--font-sans);
  font-size: 12px;
  min-width: 20px;
  padding: 4px;
  height: 20px;
  border-radius: 4px;
  color: var(--gray11);
  background: var(--gray4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.vercel [command-separator] {
  height: 1px;
  width: 100%;
  background: var(--gray5);
  margin: 4px 0;
}
.vercel *:not([hidden]) + [command-group] {
  margin-top: 8px;
}
.vercel [command-group-heading] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 12px;
  color: var(--gray11);
  padding: 0 8px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.vercel [command-empty] {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  white-space: pre-wrap;
  color: var(--gray11);
}
.vercel [command-dialog-wrapper] {
  padding: 8px;
}

.pop-page-enter-active {
  animation: scale-in 0.2s;
}
.pop-page-leave-active {
  animation: scale-in 0.2s reverse;
}

@keyframes scale-in {
  0% {
    transform: scale(0.96);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/*
@import 'linear.scss';
*/

.linear {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.linear [command-root] kbd {
  font-family: var(--font-sans);
  background: var(--gray3);
  color: var(--gray11);
  height: 20px;
  width: 24px;
  border-radius: 4px;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linear [command-linear-badge] {
  height: 24px;
  padding: 8px;
  font-size: 12px;
  color: var(--gray11);
  background: var(--gray3);
  border-radius: 4px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 16px 16px 0;
}
.linear [command-linear-shortcuts] {
  display: flex;
  margin-left: auto;
  gap: 8px;
}
.linear [command-linear-shortcuts] kbd {
  font-family: var(--font-sans);
  font-size: 13px;
  color: var(--gray11);
}
.linear [command-input] {
  font-family: var(--font-sans);
  border: none;
  width: 100%;
  font-size: 18px;
  padding: 20px;
  outline: none;
  background: var(--bg);
  color: var(--gray12);
  border-bottom: 1px solid var(--gray6);
  border-radius: 0;
  caret-color: #6e5ed2;
  margin: 0;
}
.linear [command-input]::-moz-placeholder {
  color: var(--gray9);
}
.linear [command-input]::placeholder {
  color: var(--gray9);
}
.linear [command-item] {
  content-visibility: auto;
  cursor: pointer;
  height: 48px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 16px;
  color: var(--gray12);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  will-change: background, color;
  transition: all 150ms ease;
  transition-property: none;
  position: relative;
}
.linear [command-item][aria-selected=true], .linear [command-item]:hover {
  background: var(--gray3);
}
.linear [command-item][aria-selected=true] svg, .linear [command-item]:hover svg {
  color: var(--gray12);
}
.linear [command-item][aria-selected=true]:after, .linear [command-item]:hover:after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 123;
  width: 3px;
  height: 100%;
  background: #5f6ad2;
}
.linear [command-item][aria-disabled=true] {
  color: var(--gray8);
  cursor: not-allowed;
}
.linear [command-item]:active {
  transition-property: background;
  background: var(--gray4);
}
.linear [command-item] svg {
  width: 16px;
  height: 16px;
  color: var(--gray10);
}
.linear [command-list] {
  height: min(300px, var(--command-list-height));
  max-height: 360px;
  overflow: auto;
  overscroll-behavior: contain;
  transition: 100ms ease;
  transition-property: height;
}
.linear * + [command-group] {
  margin-top: 8px;
}
.linear [command-group-heading] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 12px;
  color: var(--gray11);
  padding: 0 8px;
  display: flex;
  align-items: center;
}
.linear [command-empty=""] {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  white-space: pre-wrap;
  color: var(--gray11);
}
.linear [command-separator] {
  height: 1px;
  width: 100%;
  background: var(--gray5);
  margin: 4px 0;
}
.linear [command-dialog-wrapper] {
  max-width: 640px;
  width: 100%;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  padding: 0;
  font-family: var(--font-sans);
  box-shadow: var(--command-shadow);
}
.dark .linear [command-dialog-wrapper] {
  background: linear-gradient(136.61deg, rgb(39, 40, 43) 13.72%, rgb(45, 46, 49) 74.3%);
}
.linear [command-dialog-footer] ul,
.linear [command-dialog-footer] ul li {
  display: flex;
  align-items: center;
}
.linear [command-dialog-footer] ul li {
  gap: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

/*
@import 'framer.scss';
*/

.framer [command-root] {
  max-width: 640px;
  width: 100%;
  padding: 8px;
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  font-family: var(--font-sans);
  border: 1px solid var(--gray6);
  box-shadow: var(--command-shadow);
}
.dark .framer [command-root] {
  background: var(--gray2);
}
.framer [command-framer-header] {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
  padding: 0 8px;
  border-bottom: 1px solid var(--gray5);
  margin-bottom: 12px;
  padding-bottom: 8px;
}
.framer [command-framer-header] svg {
  width: 20px;
  height: 20px;
  color: var(--gray9);
  transform: translateY(1px);
}
.framer [command-input] {
  font-family: var(--font-sans);
  border: none;
  width: 100%;
  font-size: 16px;
  outline: none;
  background: var(--bg);
  color: var(--gray12);
}
.framer [command-input]::-moz-placeholder {
  color: var(--gray9);
}
.framer [command-input]::placeholder {
  color: var(--gray9);
}
.framer [command-item] {
  content-visibility: auto;
  cursor: pointer;
  border-radius: 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--gray12);
  padding: 8px 8px;
  margin-right: 8px;
  font-weight: 500;
  transition: all 150ms ease;
  transition-property: none;
}
.framer [command-item][aria-selected=true] {
  background: var(--blue9);
  color: #ffffff;
}
.framer [command-item][aria-selected=true] [command-framer-item-subtitle] {
  color: #ffffff;
}
.framer [command-item][aria-disabled=true] {
  color: var(--gray8);
  cursor: not-allowed;
}
.framer [command-item] + [command-item] {
  margin-top: 4px;
}
.framer [command-item] svg {
  width: 16px;
  height: 16px;
  color: #ffffff;
}
.framer [command-framer-icon-wrapper] {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  height: 32px;
  background: orange;
  border-radius: 8px;
}
.framer [command-framer-item-meta] {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.framer [command-framer-item-subtitle] {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray11);
}
.framer [command-framer-items] {
  min-height: 308px;
  display: flex;
}
.framer [command-framer-left] {
  width: 40%;
}
.framer [command-framer-separator] {
  width: 1px;
  border: 0;
  margin-right: 8px;
  background: var(--gray6);
}
.framer [command-framer-right] {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-left: 8px;
  width: 60%;
}
.framer [command-framer-right] button {
  width: 120px;
  height: 40px;
  background: var(--blue9);
  border-radius: 6px;
  font-weight: 500;
  color: white;
  font-size: 14px;
}
.framer [command-framer-right] input[type=text] {
  height: 40px;
  width: 160px;
  border: 1px solid var(--gray6);
  background: #ffffff;
  border-radius: 6px;
  padding: 0 8px;
  font-size: 14px;
  font-family: var(--font-sans);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.08);
}
.framer [command-framer-right] input[type=text]::-moz-placeholder {
  color: var(--gray9);
}
.framer [command-framer-right] input[type=text]::placeholder {
  color: var(--gray9);
}
@media (prefers-color-scheme: dark) {
  .framer [command-framer-right] input[type=text] {
    background: var(--gray3);
  }
}
.framer [command-framer-right] [command-framer-radio] {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--gray12);
  font-weight: 500;
  font-size: 14px;
  accent-color: var(--blue9);
}
.framer [command-framer-right] [command-framer-radio] input {
  width: 20px;
  height: 20px;
}
.framer [command-framer-right] img {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  border: 1px solid var(--gray6);
}
.framer [command-framer-right] [command-framer-container] {
  width: 100px;
  height: 100px;
  background: var(--blue9);
  border-radius: 16px;
}
.framer [command-framer-right] [command-framer-badge] {
  background: var(--blue3);
  padding: 0 8px;
  height: 28px;
  font-size: 14px;
  line-height: 28px;
  color: var(--blue11);
  border-radius: 9999px;
  font-weight: 500;
}
.framer [command-framer-right] [command-framer-slider] {
  height: 20px;
  width: 200px;
  background: linear-gradient(90deg, var(--blue9) 40%, var(--gray3) 0%);
  border-radius: 9999px;
}
.framer [command-framer-right] [command-framer-slider] div {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 9999px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.32);
  transform: translateX(70px);
}
.framer [command-list] {
  overflow: auto;
}
.framer [command-separator] {
  height: 1px;
  width: 100%;
  background: var(--gray5);
  margin: 4px 0;
}
.framer [command-group-heading] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 12px;
  color: var(--gray11);
  padding: 0 8px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.framer [command-empty] {
  font-size: 14px;
  padding: 32px;
  white-space: pre-wrap;
  color: var(--gray11);
}

@media (max-width: 640px) {
  .framer [command-framer-item-subtitle] {
    display: none;
  }
}
