.nitro
.output
components/vue/.vite-inspect
core/build/entries/*.ts
**/dist/*.cjs
**/dist/*.mjs
**/dist/**/*.mjs
**/dist/*.css
**/dist/*.d.ts
**/dist/**/*.d.ts
**/dist/**/*.d.cts
**/dist/**/*.d.mts
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
