stacksjs.localhost {
	route {
		@libs {
			path /libs/*
		}

		handle @libs {
			reverse_proxy localhost:3335
		}

		@api {
			path /api/*
		}

		handle @api {
			reverse_proxy localhost:3999
		}

		handle {
			reverse_proxy localhost:3333
		}
	}
}
